{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
        <div class="container mb-5">
            <ul class="row list-group list-group-horizontal">
                {% for category, classification in classification_result.items() %}
                    {% if classification == 1 %}
                        <li class="list-group-item list-group-item-success text-center col-3">{{category.replace('_', ' ').title()}}</li>
                    {% else %}
                        <li class="list-group-item list-group-item-dark text-center col-3">{{category.replace('_', ' ').title()}}</li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>

{% endblock %}
